<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
    <body>
        <nav>
          <ul>
            <li> <a href="/about"> About </a> </li>
            <li> <a href="/works"> Works </a> </li>
            <li> <a href="/schedule"> Schedule </a> </li>
          </ul>
        </nav>
    
    
        <header>
          <h1>Text</h1>
          <br>
          <h2>Text</h2>
          <aside>
            <i> “More Text” </i>
            <p> Peter Peter Peter </p>
          </aside>
        </header>
    
        <!-- section 1 -->
        <section>
          <article>
            <h3> Hello! </h3>
            <p> Welcome to my page, the best adventure you will ever have. </p>
            <a> Learn More </a>
          </article>
    
          <article>
            <h3> About us </h3>
            <p> We like a lot of programming websites, but we also love to practice sports. </p>
            <a> Watch Video </a>
          </article>
    
          <article>
            <h3> Wanna Join? </h3>
            <p> Join our fitness program to be in good shape while learning. </p>
            <a> Register </a>
          </article>
        </section>
    
    
        <!-- section 4 -->
        <section>
          <h3> Schedule </h3>
          <table>
            <thead>
              <th> time </th>
              <th> Monday </th>
              <th> Tuesday </th>
              <th> Wednesday </th>
              <th> Thursday </th>
              <th> Friday </th>
              <th> Saturday </th>
            </thead>
            <tbody>
              <tr>
                <td> 9:00 - 11:00 </td>
                <td>  </td>
                <td>  </td>
                <td> X </td>
                <td>  </td>
                <td> X </td>
                <td> X </td>
              </tr>
              <tr>
                <td> 12:00 - 14:00 </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td> X </td>
                <td> X </td>
              </tr>
              <tr>
                <td> 15:00 - 17:00 </td>
                <td>  </td>
                <td>  </td>
                <td> X </td>
                <td> X </td>
                <td> X </td>
                <td> X </td>
              </tr>
            </tbody>
          </table>
    
         <h3> Schedule a Time Slot </h3>
          <form>
            <div>
              <label> Email </label>
              <input type="email" placeholder="Enter your email">
            </div>
    
            <div>
              <label> Participants </label>
              <input type="Number" placeholder="Number of participants">
            </div>
    
            <div>
              <label> Date </label>
              <input type="date">
            </div>
    
            <div class="slot-form-container">
              <label> Time </label>
              <select>
                <option value="early"> 9:00 - 11:00 </option>
                <option value="mid"> 12:00 - 14:00 </option>
                <option value="late"> 15:00 - 17:00 </option>
              </select>
            </div>
    
            <div class="slot-form-container">
              <button type="submit"> Reserve Your Slot! </button>
            </div>
          </form>
        </section>
    
    
        <footer>
          <section>
            <h5> Contact Information </h5>
            <address> 1234 </address>
            <h5> Follow uUs </h5>
            <ul>
              <li> <a href="#"> Twitter </a> </li>
              <li> <a href="#"> Facebook </a> </li>
              <li> <a href="#"> Instagram </a> </li>
            </ul>
          </section>
        </footer>
      </body>
</body>
</html>