<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <h3> Schedule </h3>
        <table>
          <thead>
            <th> time </th>
            <th> Monday </th>
            <th> Tuesday </th>
            <th> Wednesday </th>
            <th> Thursday </th>
            <th> Friday </th>
            <th> Saturday </th>
          </thead>
          <tbody>
            <tr>
              <td> 9:00 - 11:00 </td>
              <td>  </td>
              <td>  </td>
              <td> X </td>
              <td>  </td>
              <td> X </td>
              <td> X </td>
            </tr>
            <tr>
              <td> 12:00 - 14:00 </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td> X </td>
              <td> X </td>
            </tr>
            <tr>
              <td> 15:00 - 17:00 </td>
              <td>  </td>
              <td>  </td>
              <td> X </td>
              <td> X </td>
              <td> X </td>
              <td> X </td>
            </tr>
          </tbody>
        </table>
  
       <h3> Schedule a Time Slot </h3>
        <form>
          <div>
            <label> Email </label>
            <input type="email" placeholder="Enter your email">
          </div>
  
          <div>
            <label> Participants </label>
            <input type="Number" placeholder="Number of participants">
          </div>
  
          <div>
            <label> Date </label>
            <input type="date">
          </div>
  
          <div class="slot-form-container">
            <label> Time </label>
            <select>
              <option value="early"> 9:00 - 11:00 </option>
              <option value="mid"> 12:00 - 14:00 </option>
              <option value="late"> 15:00 - 17:00 </option>
            </select>
          </div>
  
          <div class="slot-form-container">
            <button type="submit"> Reserve Your Slot! </button>
          </div>
        </form>
      </section>
</body>
</html>